name: Main CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '0 2 * * 1'
  workflow_dispatch:

permissions:
  security-events: write
  contents: read
  actions: read

jobs:
  build-and-scan-docker:
    needs: [code-quality-sast, secret-scanning, secure-iac-dockerfile-scan]
    uses: ./.github/workflows/build-docker-image.yml
    secrets: inherit